<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>三和短信平台</title>
		<!--jQuery-->
		<script type="text/javascript" src="assets/jquery-1.12.2.min.js" ></script>
		<!--bootstrap-->
		<script type="text/javascript" src="assets/bootstrap/bootstrap.min.js" ></script>
		<link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css" />
		<!--font-awsome-->
		<link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css" />
		<!--mentisMenu-->
		<script type="text/javascript" src="assets/metisMenu/metisMenu.min.js" ></script>
		<link rel="stylesheet" href="assets/metisMenu/metisMenu.min.css" />
		
		<!--index js css-->
		<script type="text/javascript" src="js/indexjs.js" ></script>
		<link rel="stylesheet" href="css/style.css" />
		
		<!--ie兼容性-->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  		<script type="text/javascript" src="js/html5shiv.min.js" ></script>
			<script type="text/javascript" src="js/respond.min.js" ></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<nav class="navbar">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html">三和软件短信平台</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<!--消息提示-->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-bell fa-fw"></i>
							<!--<i class="badge">2</i>-->
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu ">
							<li><a href="#"><i class="fa fa-comment fa-fw"></i> 这是一条奇怪的消息.</a></li>
							<li class="divider"></li>
							<li><a class="text-center" href="#"><strong>查看更多>> </strong><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</li>
					<!--管理员-->
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-user fa-fw"></i>
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu ">
							<li><a href="#"><i class="fa fa-user fa-fw"></i> 用户管理</a></li>
							<li><a href="#"><i class="fa fa-gear fa-fw"></i> 权限设置</a></li>
							<li class="divider"></li>
							<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 退出</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="sidebar " role="navigation">
				<div class="navbar-default">
					<ul class="nav">
						<li class="open">
							<a href="index.html" ><i class="fa fa-fw fa-dashboard"></i>&nbsp;&nbsp;仪表盘</a>
						</li>
						<li>
							<a href="pages/manage.html" ><i class="fa fa-fw fa-cubes"></i> &nbsp;用户管理</a>
						</li>
						<li>
							<a href="pages/purchase.html" ><i class="fa fa-fw fa-shopping-cart"></i> &nbsp;申购历史</a>
						</li>
						<li>
							<a href="pages/count.html" ><i class="fa fa-fw fa-tasks"></i> &nbsp;短信统计</a>
						</li>
						<li>
							<a href="pages/record.html" ><i class="fa fa-fw fa-list-alt"></i> &nbsp;消费记录</a>
						</li>
						<li>
							<a href="pages/package.html" ><i class="fa fa-fw fa-gear"></i> &nbsp;套餐类型定义</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="showspace">
				
				
				
				
				
				
				
				
				
				
				
				
				
			</div>
		</div>
	</body>
</html>
